* {
  font-family: 'Slabo', sans-serif;
}

body {
  background-color: #ffbd4a
}

ul {
  display: inline-block;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
}

.nav {
  background-color: #ffbd4a
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  float: right;
  display: block;
}
