* {
  font-family: 'Slabo', sans-serif;
}

nav {
  display: block;
  background-color: #fe7e00;
}

nav ul {
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav span {
  height: 25px;
}
